.row-fluid(ng-if='!alerts || alerts.length === 0')
    .col-sm-12
        .btn.btn-primary.btn-lg.btn-scan(role='button', type='button', ng-click='scan()') SCAN
    .clearfix
.row-fluid(ng-if='alerts && alerts.length !== 0')
    .panel(ng-repeat='alert in alerts', class='{{ "panel-" + alert.type }}')
        .panel-heading
            .panel-title
                h3 {{alert.msg}}
        .panel-body
            ul.list-group(ng-if='alert.ticket')
                li.list-group-item {{ alert.ticket.firstname }} {{ alert.ticket.lastname }}
                li.list-group-item {{ alert.ticket.email }}
                li.list-group-item {{ alert.ticket.type }} {{ alert.ticket.category }}
                li.list-group-item {{ alert.ticket.token }}
            button.btn.btn-default.btn-sm(ng-click='alerts.splice(0,1)') OK

