h3.page-header Settings

.alert.alert-dismissable(ng-repeat='alert in alerts', type='{{alert.type}}', class="{{ 'alert-' + alert.type }}", close='closeAlert($index)') {{alert.msg}}

form(name='loginForm', role='form', ng-submit='submit()')
    .panel.panel-primary
        .panel-heading.text-center
            h3.panel-title Ticket Server
        .panel-body.text-center
            .form-group
                label.control-label IP Address
                input.input.form-control(name='ip', type='ip', placeholder='192.168.0.1', ng-model='remote.ip')
        .panel-footer.text-right
            input.btn.btn-primary(type='submit', value='Save')
