@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../../../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css";
@import (less) "../../../bower_components/angular-busy/dist/angular-busy.css";
@import "./bootswatch";
@import "variables";

@grid-float-breakpoint: 10px;

body {
  margin:0;
  padding-top: 80px;
}

.navbar {
  padding-top: 20px;
}

.btn-scan {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

.pad-top {
  padding-top: 40px;
}

.pad-top-2x {
  padding-top: 80px;
}

.text-large {
  font-size: 1.5em;
  line-height: 1.5em;
}

.page-header {
  margin-top: 10px;
}

.cg-busy-default-sign {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}