doctype HTML5
html(ng-app='ticket-server')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        script(src='js/tickets-deps.min.js')
        script(src='../node_modules/angular-busy/dist/angular-busy.min.js')
        script(src='../node_modules/async/dist/async.min.js')
        script(src='js/tickets.min.js')
        script global.require('lib-local/http')();
        link(rel='stylesheet', href='css/main.css')
    body(data-status="{{ status }}")
        .container-fluid(cg-busy="{promise:pagePromise,message:'Loading page...',templateUrl:'./partials/busy.html',minDuration:100}")
            .navbar.navbar-inverse.navbar-fixed-top(name='mainNavigation', role='navigation', check-login)
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', ng-click='isCollapsed = !isCollapsed')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#/') Tickets
                    .collapse.navbar-collapse(collapse='isCollapsed')
                        ul.nav.navbar-nav
                            li
                                a(href='#/sync') Sync
            .container-fluid
                .main-content
                    div(ng-view, cg-busy="{promise:promise,message:promiseString,templateUrl:'./partials/busy.html'}")
